#navbar {
    background-color: #4286f4 !important;
}

#bodycontainer {
	float: left;
	margin: 0 1.5%;
	width: 63%;
	background-color: #ffffff !important;
}

#sidebarcontainer {
	float: right;
	margin: 0 1.5%;
	width: 30%;
	background-color: #ffffff !important;
}	

body {
	background-color: red;
}
