#header {
    width: 100%;
	margin-bottom: 1.5%;
    background-color: #ffffff;
}

#navbar {
    width: 1100px;
    height: 85px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#image, #nav-logo {
    float: left;
    height: inherit;
}

#items {
    float: right;
}

.menu ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    padding: 8px;
}

#bodycontainer {
	float: left;
	width: 63%;
	background-color: #ffffff !important;
}

#sidebarcontainer {
	float: right;
	width: 30%;
	background-color: #ffffff !important;
}	

#body {
	margin-left: auto;
    margin-right: auto;
	width: 1100px;
}

body {
	background-color: red;
	margin: 0px;
}

#sidebar {
	padding: 15px;
}

#main {
	padding: 15px;
}

html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: 'Alegreya Sans', sans-serif !important;
}