
.contents_reg {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.drugo {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.separator {
	border-bottom: solid 1px #b690c1;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

.clear_separator {
	border-bottom: solid 1px #ffffff;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

.subsection1 {
	float: left;
	text-align: left;
}

.subsection2 {
	float: right;
	text-align: left;
}

.politikaRubrik {
	margin-left: auto;
	margin-right: auto;
	margin-left: 26%;
	margin-right: 5%;
}

.button {
	border-radius: 25px;
	background: #b690c1;
	border: 2px solid #b690c1;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button1 {
	border-radius: 20px;
	background: #ffffff;
	border: 1px solid #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}

.prispevki {
	margin-left: auto;
	margin-right: auto;
	margin-left: 26%;
	margin-left: 26%;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.address {
	text-align: left;
	float: left;
	margin-left: 20%;
}

.contactNumber {
	text-align: left;
	float: right;
	margin-right: 57%;
}

#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#aboutThisPublishingSystem {
	margin-left: auto;
	margin-right: auto;
	margin-left: 26%;
	margin-left: 26%;
	width: 800px;
}

#col1, #col2, #col3 {
	vertical-align: top; 
}

#col3 {
	padding-right: 50px;
}

h2, h4 {
	font-weight: bold;
}

h4 {
	text-align: left;
}

h5 {
   font-weight: normal;
   font-size: 14px;
}



html *
{
   color: #110E12; /*color: #2f2f2f;*/
   margin: 0;
   font-family: 'Raleway', sans-serif !important;

}