#content {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

#signinTable {
	margin-left: auto;
	margin-right: auto;
}

#lostPasswordTable {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.textRes {
	margin-left: 30%;
	padding: 0;
	position: relative;
	text-align: left;
	width: 800 px;
}

.value {
	padding-left: 50px;
	padding-bottom: 5px;
}

h1, h2, h3, h4, p {
    font-family: Raleway;
    color: #110E12; /*color: #2f2f2f;*/
    margin: 0;
}

.button {
	border-radius: 25px;
	background: #b690c1;
	border: 2px solid #b690c1;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#loginRemember {
	margin-top: 5px;
}

p {
	text-align: center;
	padding-left: 150px;

}

h5 {
	font-weight: normal;
}

#pageFooter {
	text-align: center;
}

#separator {
	border-bottom: solid 1px #866291;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}



.address {
	text-align: left;
	float: left;
	margin-left: 20%;
}

.clear_separator {
	border-bottom: solid 1px #ffffff;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.contactNumber {
	text-align: left;
	float: right;
	margin-right: 57%;
}

html *
{
   color: #110E12; /*color: #2f2f2f;*/
   margin: 0;
   font-family: 'Raleway', sans-serif !important;
}

.header {
	background-image:url(../assets/background-header-image.png);
	background-repeat: no-repeat;
	background-size: cover;
}
